node_modules/
npm-debug.log*
yarn.lock
package-lock.json

# Logs
logs/
*.log
debug.log
*.pid
nohup.out

# Environment variables
.env
.env.local
.env.*.local
config.json

# IDE & Editor files
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Build files
dist/
build/
out/

# Git-related files
.git/
